.portfolo__wrapper {
  display: grid;
  grid-template-columns: 20%;
  width: 15vw;
  border: 1px solid yellow;
  height: 90vh;
}

.page__tabs {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1fr);
}
