.modal_wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.modal_wrapper h1 {
  margin: 10px;
}

.modal_wrapper label {
  font-weight: bold;
}

.modal_wrapper input {
  padding: 3px;
  margin: 2px 0;
  border: 1px solid black;
  border-radius: 5px;
}

.modal_wrapper button {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 15px;
  align-items: center;
  margin-bottom: 5px;
}

.input_field {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.passwordMatch {
  margin-bottom: 10px;
}
