.monthlyReoccurrings__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monthlyReoccurrings__wrapper h1 {
  margin: 20px;
}

.add_monthlyReoccurring {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: rgb(254, 255, 197);
}

.add_monthlyReoccurring:hover {
  background-color: rgb(253, 255, 133);
}

.monthlyReoccurrings_table_wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%;
  align-items: center;
}

.monthlyReoccurrings_table_wrapper table {
  width: 90vw;
  border-collapse: collapse;
}

.monthlyReoccurrings_table_wrapper th {
  width: 33%;
  font-size: 20px;
  background-color: rgb(48, 56, 65);
  color: white;
  border: 1px solid black;
  padding: 20px;
}

.monthlyReoccurrings_table_wrapper td {
  width: 33%;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  padding: 20px 0;
}

.monthlyReoccurrings_table_wrapper tr:nth-child(even) {
  background-color: lightgray;
}

.monthlyReoccurrings_table_wrapper tr:hover {
  background-color: darkgray;
}

.table_footer {
  display: flex;
  justify-content: center;
}

.add_monthlyReoccurring_form_wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
