.modal_wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.modal_wrapper h1 {
  margin: 10px;
}

.modal_wrapper label {
  font-weight: bold;
}

.modal_wrapper button {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 15px;
  align-items: center;
  margin-bottom: 5px;
}

.modal_wrapper input {
  padding: 3px;
  margin: 2px 0;
}

.input_field {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.errors__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.errors {
  margin: 5px 0;
}
